.component {
    margin: 2em 0;

    hr {
        width: 42px;
        border-bottom: 2px solid $white;
        margin-left: 0;
        margin-top: -.1em;
    }
    .title {
        font-weight: 650;
    }
}

/*Basic Component */
.basicContent {
    .medium-6 > div {
        padding-right: 1em;
    }
    img {
        width: 400px;
    }
    .imgContainer {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .text {
        padding-top: 1em;
    }
}

/* Tags Component */
.tagsList {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 0;

    .tag {
        border: 1px solid $white;
        margin: 0 1em;
        padding: 5px;
        background-color: $white;
        color: $black;

        &:first-child {
            margin-left: 0;
        }
    }
}

/*Recent Projects Lister*/
.projects {
    justify-content: space-between;

    .project {
        height: 300px;
        width: 340px;
        //@at-root: 1px solid $white;
        margin: 1em 0;

        hr {
            width: 101px;
            border-bottom: 3px solid $white; 
            margin: 1em;   
        }

        .header, .description  {
            margin: 1em;
        }

        .header {
            margin-top: 2em;
            display: flex;
        }

        .links {
            flex: 20%;
            display: flex;
            justify-self: flex-end;
            justify-content: flex-end;
            align-items: center;
            
        }

        i {
            padding: 0 5px;
        }

        .title {font-size: 22px; flex: 80%;}
        
        &:nth-child(4n+1) {
            background-color: $pink;
        }
        &:nth-child(4n+2) {
            background-color: $blue;
        }
        &:nth-child(4n+3) {
            background-color: $green;
        }

        &:nth-child(4n+4) {
            background-color: $yellow;
        }

        &:hover {
            transform: translateY(-1em);
            transition: transform .3s;
        }
    }
}

.featuredProject {
    height: 351px;
    //border: 1px solid $white;
    background-color: $white;
    color: $black;
    margin-bottom: 2em;

    hr {
        width: 94px;
        border-bottom: 3px solid $black;
        margin-top: 10px;
    }

    a {
        color: $black;
    }

    .header {
        display: flex;
    }

    i {
        padding: 0 5px;
    }

    .links {
        flex: 20%;
        display: flex;
        justify-self: flex-end;
        justify-content: flex-end;
        align-items: center;
        margin-bottom:.5em;
    }
    
    .details {
        margin: 5em;
    }

    .tags {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        .tag {
            border: 1px solid $black;
            font-size: 14px;
            margin: 0 .5em;
            padding: 3px;
            background-color: $white;
            color: $black;

            &:first-child {
            margin-left: 0;
            }
        }

    }

    .imageContainer {
        //width: 100%;
        height: 351px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
/* Beyond Large ---------------------------------------------------*/
@media screen and (min-width: 1441px) {}
/* Large Desktop ---------------------------------------------------*/
@media screen and (min-width: 1300px) and (max-width: 1440px) {}
/* Medium Desktop ---------------------------------------------------*/
@media screen and (min-width: 1140px) and (max-width: 1299px) {}
/* Small Desktop ---------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1139px) {}
//Tablet
@media screen and (min-width: 750px) and (max-width:1024px) {
    .featuredProject {
        .details {margin: 2em;}

        .tags .tag {
            margin: 0 .5em .5em .5em;
        }
    }

    .projects {
        justify-content: space-around;

        .project {
            width: 370px;
        }
    }
}
//Phone
@media screen and (max-width: 749px) {
    .tagsList {
        .tag {
            margin: 0 1em .5em 1em;
        }
    }
    .featuredProject {
        .details {margin: 1em;}

        .tags .tag {
            margin: 0 .5em .5em .5em;
        }
    }

    .projects {
        justify-content: center;

        .project {
            width: auto;
        }
    }
}