@import '_settings';

@import "_navigation";

.zachHead {
    background-image: url('/assets/static/zachhead.io.png');
    height: 100%;
    //max-height: 1080px;
    width: 100%;
    //max-width: 1920px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
}

.hero {
    margin-top: 115px;

    .about {
        z-index: 1;
        padding-top: 2em;
    }

    .name {
        font-size: 80px;
        font-weight: 800;
    }

    .title {
        font-size: 60px;
        font-weight: 650;
    }

    .contact {
        margin-top: 1em;
        font-size: 1.5em;
    }
    
}


footer {
    //position: relative;
    width: 100%;
    bottom: 0;


    .footerContent {
        border-top: 3px solid $white;
        padding: 1em 0;
    }

    .name {
        font-weight: 800;
    }

    .socialMenu {
        justify-content: flex-end;
    }
}

/* Beyond Large ---------------------------------------------------*/
@media screen and (min-width: 1441px) {
}
/* Large Desktop ---------------------------------------------------*/
@media screen and (min-width: 1300px) and (max-width: 1440px) {
}
/* Medium Desktop ---------------------------------------------------*/
@media screen and (min-width: 1140px) and (max-width: 1299px) {
}
/* Small Desktop ---------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1139px) {
}
//Tablet
@media screen and (min-width: 750px) and (max-width:1024px) {
    .hero {
        margin-top: 30%;
    }
}
//Phone
@media screen and (max-width: 749px) {
    .hero {
        margin-top: 45%;
        .name {
            font-size: 2.5em;
            //margin-bottom: .5em;
        }
        .title {
            font-size: 2em;
            margin-bottom: .5em;
        }
        .blurb {
            margin-bottom: .5em;
        }
        .contact {
            font-size: 1.2em;
        }
    }
}

/* --- Interior Styles --- */
/* - Global - */

#interior .pageTitle {
    font-size: 24px;
    font-weight: 800;
}

//#interior .header {margin-bottom: 1em;}
.header hr {
    width: 91px;
    border-bottom: 5px solid $white;
    margin-left: 0;
    margin-top: -.1em;
}

.projectDetail {
    &>.header {
        position: relative;
        display: flex;
        justify-content: center;

    }

    .pageTitle {
        //display: flex;
        text-align: center;
        position: absolute;
        top: 60px;
        margin: auto 0;
    }
}

.headerBanner {
    height: 221px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.imagesLister {

    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin: 1em 0;

        &:last-child {
            margin-bottom: 5em;
        }
    }

}

.contactForm {
    label {
        color: $white;
        font-weight: 650;
    }
    button {
        background-color: $blue;
        margin: 0 auto;
    }
}

@import "_components";